doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='CSS/admin/adminTemplate.css')
  link(rel='stylesheet' href='css/admin/transactionRecords.css')
  link(rel='preconnect' href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Poppins:wght@200;500;700;800&display=swap' rel='stylesheet')
 
  script(src='JS/index.js' async='')
  script(src='JS/menu.js' async='')
  title Document
section
  .admin-container
    header.header
      .container
        .navbar
          .logo
            a(href='/welcome')
              img.img-logo(src='img/bonavita-logo.png' width='180px')
          nav
            ul#lists
              if user.role == 'master'
                li
                  a(href='/welcome') Welcome
                li
                  a(href='/adminProducts') Product
                li
                  a(href='/adminShipping') Shipping
                li
                  a(href='/acceptOrder') Pending
                li
                  a(href='/transactionRecords') Transaction Records
                li
                  a(href='/adminFaq') FAQ
                li
                  a(href='/adminTestimonials') Testimonials
                li
                  a(href='/adminRoles') Assign Admin Role
                li
                  a(href='/adminCompanyProfile') Company Info
                li 
                  a(href='/adminProfile') My Profile
                li 
                  a(href='/adminLogout') Logout
              if user.role == 'encoder'
                li
                  a(href='/welcome') Welcome
                li
                  a(href='/adminShipping') Shipping
                li
                  a(href='/acceptOrder') Pending
                li
                  a(href='/transactionRecords') Transaction Records
                li
                  a(href='/adminFaq') FAQ
                li
                  a(href='/adminProfile') My Profile
                li
                  a(href='/adminLogout') logout
              if user.role == 'editor'
                li
                  a(href='/welcome') Welcome
                li
                  a(href='/adminFaq') Faq
                li
                  a(href='/adminTestimonials') Testimonials
                li
                  a(href='/adminCompanyProfile') Company Info
                li
                  a(href='/adminProfile') My Profile
                li
                  a(href='/adminLogout') logout
          img#menuIcon.menu(src='img/menu-bar.png' onclick='openmenu()')
  .content-container
    .content-heading
      h1 Transaction Records
    .sorting
      .sorting-Wrapper
        //- .typeOfSorting-Container
        //-   select(name='' id='')
        //-     option(value='' selected='true' disabled='') Search by Product
        //-     option(value='') Product 1
        //-     option(value='') Porduct 2
        //-     option(value='') Product 3
        //-     option(value='') Porduct 4
        //-     option(value='') Porduct 5
        //- .typeOfSorting-Container
        //-   select(name='' id='')
        //-     option(value='') Today
        //-     option(value='') Week
        //-     option(value='') Month
        //- .typeOfSorting-Container
        //-   select(name='' id='')
        //-     option(value='' selected='true' disabled='') Sort by Top Customer
        //-     option(value='') top 5
        //-     option(value='') top 10
        //-     option(value='') top 15
        //-     option(value='') top 30
        .typeOfSorting-Container.keyword-container
          form.form(action="/transactionRecords" method="get")
            label(for='') Keyword Search: 
            input(type='text' placeholder='Possible keywords (Name,Product,Province,City...)' name="keyword")
            input(type='submit' value="submit" class="submit")
        .typeOfSorting-Container.keyword-container
          form.form(action="/transactionRecords" method="get")
            input(type='text' placeholder='Possible keyword (By transaction id)' name="transactionId")
            input(type='submit' value="submit" class="submit")
      //- .downloadable-container
      //-   h3 Export: 
      //-   .excel-container.download-wrap
      //-     a.excel-btn(href='') Excel
      //-   .pdf-container.download-wrap
      //-     a.pdf-btn(href='') PDF
      //-   .summation
      //-     h3
      //-       | Revenue: 
      //-       span P 300
      table.accept-table
        tr.accept-table__heading
          th Transaction id
          th Customer Name
          th Phone Number
          th Transaction Date
          th Customer Location
          th Mode of Payment
          th Product Name
          th Shipping Fee
          th Sub Total
        if Transaction
          tr
            td= Transaction.id
            td= Transaction.name
            td= Transaction.phoneNumber
            td= Transaction.date
            td #{Transaction.homeAddress},#{Transaction.Street} Street,#{Transaction.Subdv}, #{Transaction.Barangay} Barangay,#{Transaction.City} City,#{Transaction.province},Postal Code: #{Transaction.postalCode}
            td= Transaction.paymentMethod
            td
              each product in Transaction.products
                  span #{product.productName}  (#{product.itemBought})
                  br
                  br
            td= Transaction.shippingFee
            td= Transaction.subTotal
        if eachCustomer
          each customer in eachCustomer
            tr
              td= customer.id
              td= customer.name
              td= customer.phoneNumber
              td= customer.date
              td #{customer.homeAddress},#{customer.Street} Street,#{customer.Subdv}, #{customer.Barangay} Barangay,#{customer.City} City,#{customer.province},Postal Code: #{customer.postalCode}
              td= customer.paymentMethod
              td
                each product in customer.products
                  span #{product.productName}  (#{product.itemBought})
                  br
                  br
              td= customer.shippingFee
              td= customer.subTotal