doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='css/admin/adminShipping.css')
  link(rel='stylesheet' href='css/admin/adminTemplate.css')
  link(href='https://fonts.googleapis.com/css2?family=Poppins:wght@200;500;700;800&display=swap' rel='stylesheet')
  script(src='js/index.js' async='')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  script(src='js/menu.js' async='')
  title Document
section
  .admin-container
    header.header
      .container
        .navbar
          .logo
            a(href='/welcome')
              img.img-logo(src='img/bonavita-logo.png' width='180px')
          nav
            ul#lists
              if user.role == 'master'
                li
                  a(href='/welcome') Welcome
                li
                  a(href='/adminProducts') Product
                li
                  a(href='/adminShipping') Shipping
                li
                  a(href='/acceptOrder') Pending
                li
                  a(href='/transactionRecords') Transaction Records
                li
                  a(href='/adminFaq') FAQ
                li
                  a(href='/adminTestimonials') Testimonials
                li
                  a(href='/adminRoles') Assign Admin Role
                li
                  a(href='/adminCompanyProfile') Company Info
                li 
                  a(href='/adminProfile') My Profile
                li 
                  a(href='/adminLogout') Logout
              if user.role == 'encoder'
                li
                  a(href='/welcome') Welcome
                li
                  a(href='/adminShipping') Shipping
                li
                  a(href='/acceptOrder') Pending
                li
                  a(href='/transactionRecords') Transaction Records
                li
                  a(href='/adminFaq') FAQ
                li
                  a(href='/adminProfile') My Profile
                li
                  a(href='/adminLogout') logout
              if user.role == 'editor'
                li
                  a(href='/welcome') Welcome
                li
                  a(href='/adminFaq') Faq
                li
                  a(href='/adminTestimonials') Testimonials
                li
                  a(href='/adminCompanyProfile') Company Info
                li
                  a(href='/adminProfile') My Profile
                li
                  a(href='/adminLogout') logout
          img#menuIcon.menu(src='img/menu-bar.png' onclick='openmenu()')
  .content-container
    // add product modal
    #myModal.modal
      // Modal content
      .modal-content
        span.close &times;
        h1 Edit Shipping information
        form.add-product__form(action='adminProducts.html' method='POST')
          .heading-container
            .heading-edit
              input.heading-editField(type='text' placeholder='Location: ')
            .body-container
              input(type='number' placeholder='price: ')
          input.admin-form__submit(type='submit')
    .heading-container
      h1 Add new Shipping location
    .add-shipping
      form(action="/adminShipping" method="POST") 
        input(type='text' placeholder='create shipping location' name="location")
        input(type='number' placeholder='Add Fee' name="price" step="0.01" )
        input(type='submit' value='Submit')
    .shippping-table
      h1  Created Shipping information
      .content-Product__container
        table.accept-table
          tr.accept-table__heading
            th Location
            th Price
            th  
            th  
          each shippingLoc in shipping
            tr
              td= shippingLoc.location
              td= shippingLoc.price
              th
                a.edit-btn(href=`editPage?shippingId=${shippingLoc.id}`) Edit
                th
                  a.delete-btn(href=`delete?shippingId=${shippingLoc.id}`)
                    i.fa.fa-trash
script.
  var modal = document.getElementById("myModal");
  var btn = document.querySelectorAll(".edit-btn");
  var span = document.getElementsByClassName("close")[0];
  // for edit modal
  for (var i = 0; i < btn.length; i++) {
  btn[i].addEventListener('click', function(){
  modal.style.display="block";
  });
  }
  // When the user clicks on <span> (x), close the modal
  span.onclick = function() {
  modal.style.display = "none";
  }
  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
  if (event.target == modal ) {
  modal.style.display = "none";
  }
  }
