doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='css/admin/adminTemplate.css')
  link(rel='stylesheet' href='css/admin/companyInfo.css')
  link(rel='preconnect' href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Poppins:wght@200;500;700;800&display=swap' rel='stylesheet')
  script(src='js/index.js' async='')
  script(src='js/menu.js' async='')
  title Document
section
  .admin-container
    header.header
      .container
        .navbar
          .logo
            a(href='/welcome')
              img.img-logo(src='img/bonavita-logo.png' width='180px')
          nav
            ul#lists
              if user.role == 'master'
                li
                  a(href='/welcome') Welcome
                li
                  a(href='/adminProducts') Product
                li
                  a(href='/adminShipping') Shipping
                li
                  a(href='/acceptOrder') Pending
                li
                  a(href='/transactionRecords') Transaction Records
                li
                  a(href='/adminFaq') FAQ
                li
                  a(href='/adminTestimonials') Testimonials
                li
                  a(href='/adminRoles') Assign Admin Role
                li
                  a(href='/adminCompanyProfile') Company Info
                li 
                  a(href='/adminProfile') My Profile
                li 
                  a(href='/adminLogout') Logout
              if user.role == 'encoder'
                li
                  a(href='/welcome') Welcome
                li
                  a(href='/adminShipping') Shipping
                li
                  a(href='/acceptOrder') Pending
                li
                  a(href='/transactionRecords') Transaction Records
                li
                  a(href='/adminFaq') FAQ
                li
                  a(href='/adminProfile') My Profile
                li
                  a(href='/adminLogout') Testimonials
              if user.role == 'editor'
                li
                  a(href='/welcome') Welcome
                li
                  a(href='/adminFaq') Faq
                li
                  a(href='/adminTestimonials') Testimonials
                li
                  a(href='/adminCompanyProfile') Company Info
                li
                  a(href='/adminProfile') My Profile
                li
                  a(href='/adminLogout') logout
          img#menuIcon.menu(src='img/menu-bar.png' onclick='openmenu()')
  .content-container
    .content-heading
      h1 Edit Company Information
    .comapny-Name__container.content-wrapper
      if company
        form.form(action="/companyInfo/saveChanges" method="POST"  enctype="multipart/form-data")
          .content-wrapper 
            label(for='') Company Name: 
            input.content-files.company-name__input(type='text'  value=`${company.companyName}` name="companyName")
          .content-wrapper
            label(for='') Email Address
            input.content-files(type='email' value=`${company.emailAddress}` name="emailAddress")
          .comapny-logo__container.content-wrapper
            label(for='') Change logo
            input(type='file' name="logo")
          .banner-container.content-wrapper
            label(for='') Change Banner
            input(type='file' name="banner")
          .social-media__container.content-wrapper
            .social-media-subLinks
              if company.lazadaUrl
                label(for='') Lazada url: 
                input.content-files.fb-url(type='text' name="lazadaUrl" value=`${company.lazadaUrl}`)
              else
                label(for='') Lazada url: 
                input.content-files.fb-url(type='text' name="lazadaUrl")
            .social-media-subLinks
              if company.facebookUrl
                label(for='') Facebook url: 
                input.content-files.fb-url(type='text' name="facebookUrl" value=`${company.facebookUrl}`)
              else 
                label(for='') Facebook url:
                input.content-files.fb-url(type='text' name="facebookUrl" )
            .social-media-subLinks
              if company.instagramUrl
                label(for='') Instagram url: 
                input.content-files.insta-url(type='text' name="instagramUrl" value=`${company.instagramUrl}`)
              else
                label(for='') Instagram url:
                input.content-files.fb-url(type='text'  name="instagramUrl" )
            .social-media-subLinks
              if company.twiterUrl
                label(for='') Twitter url: 
                input.content-files.insta-url(type='text' name="twiterUrl" value=`${company.twiterUrl}`)
              else
                label(for='') Twitter url: 
                input.content-files.insta-url(type='text' name="twiterUrl") 
          .contacts-info__container.content-wrapper
            .contact-info__container
              if company.CpNum
                label(for='') Contact Number
                input.content-files(type='text'  name="contactNumber" value=`${company.CpNum}`)
              else 
                label(for='') Contact Number
                input.content-files(type='text'  name="contactNumber")
            .contact-info__container
              if company.TelNum
                label(for='') Telephone Number
                input.content-files(type='text'  name="telNumber" value=`${company.TelNum}`)
              else 
                label(for='') Telephone Number
                input.content-files(type='text'  name="telNumber")
            .contact-info__container
              label(for='') Company Address
              input.content-files(type='text' name="companyAddress"  value=`${company.Address}`)
            input(type="hidden" value=`${company.id}` name="companyId")
            input(type="hidden" value=`${company.logo}` name="logo")
            input(type="hidden" value=`${company.banner}` name="banner")
          .form-submit
            input(type="submit" value="Save Changes")
      