doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='css/client/myAddress.css')
  link(rel='stylesheet' href='css/client/index.css')
  link(rel='stylesheet' href='css/client/utlities.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  link(href='https://fonts.googleapis.com/css2?family=Poppins:wght@200;500;700;800&display=swap' rel='stylesheet')
  script(src='JS/index.js' async='')
header.header
  .container
    .navbar
      .logo
        a(href='/')
          img.img-logo(src='img/bonavita-logo.png' width='180px')
      .socials
        ul
          li
            a(href='https://www.lazada.com.ph/shop/bonavita-philippines/')
              img.social(src='img/lazada-logo.png' height='50px')
          li
            a(href='https://www.facebook.com/bonavitaphilippines2016')
              img.social(src='img/facebook-logo.png' height='50px')
      nav
        ul#lists
          li
            a(href='index.html#products') Products
          li
            a(href='testimonials.html') Testimonials
          li
            a(href='myAccount.html') My Account
          li
            a(href='faq.html') FAQs
          li
            a(href='login.html') Log Out
      img.menu(src='img/menu-bar.png' onclick='openmenu()')
.floating-cart
  a(href='cart.html' onclick='increaseNumber()')
    i.fa.fa-shopping-cart
  span.number 0
section.my-account-container
  .my-account-header-container
    h1 My Account
  .my-account-navigation-container
    a.profile(href='/userProfile') Profile
    a.profile.active(href='/myAddress') My Address
    a.profile(href='/myTransactions') Orders
  .my-address-container
    .indiv-address
      form.form(action=`saveChangesAddress/?userId=${user.id}` method="POST")
        .indiv-address-title
          h3 Address 1
          .home-address_complete.address
            input.shipping-fields.home-input__address(type='text' placeholder='House/Unit/Flr #, Bldg Name, Blk or Lot #' required='true' name="homeAddress" value=`${user.homeAddress}`)
          .Street.address
            input.shipping-fields.city__address(type='text' placeholder='* Street Name' value=  `${user.Street}` name="Street")
          .Subdv.address
            input.shipping-fields.city__address(type='text' placeholder='* Village/Subdivision' required='' name="Subdv" value=`${user.Subdv}`)
          .city.address
            input.shipping-fields.city__address(type='text' placeholder='City/Municipality' required='true' name="City" value=`${user.City}`)
          .barangay.address
            input.shipping-fields.barangay__address(type='text' placeholder='Barangay' required='true' name="Barangay" value=`${user.Barangay}`)
          .postal.address
            input.shipping-fields.postal__address(type='text' placeholder='Postal Code' required='true' name="postalCode" value=`${user.postalCode}`)
          button.edit-btn(type='submit') Apply Changes
      .line
    if address
      - var count = 0;
      each addresses in address
        .indiv-address
          - count++;
          form.form(action=`secondaryAddress/?addressId=${addresses.id}` method="POST")
            .indiv-address-title
              h3 Address 2
            .home-address_complete.address
              input.shipping-fields.home-input__address(type='text' placeholder='House/Unit/Flr #, Bldg Name, Blk or Lot #' required='true' name="homeAddress" value=`${addresses.homeAddress}`)
            .Street.address
              input.shipping-fields.city__address(type='text' placeholder='* Street Name' name="Street" value=`${addresses.Street}` )
            .Subdv.address
              input.shipping-fields.city__address(type='text' placeholder='* Village/Subdivision' required=''  name="Subdv" value=`${addresses.Subdv}` )
            .city.address
              input.shipping-fields.city__address(type='text' placeholder='City/Municipality' required='true' name="City" value=`${addresses.City}` )
            .barangay.address
              input.shipping-fields.barangay__address(type='text' placeholder='Barangay' required='true' name="Barangay" value=`${addresses.Barangay}` )
            .postal.address
              input.shipping-fields.postal__address(type='text' placeholder='Postal Code' required='true' name="postalCode" value=`${addresses.postalCode}`)
            button.edit-btn(type='submit') Apply Changes
            .line
    -while(count < 2) {
      - count++
        .indiv-address
          form.form(action=`/secondaryAddress` method="POST")
            .indiv-address-title
              h3 Address #{count+1}
            .home-address_complete.address
              input.shipping-fields.home-input__address(type='text' placeholder='House/Unit/Flr #, Bldg Name, Blk or Lot #' required='true' name="homeAddress" )
            .Street.address
              input.shipping-fields.city__address(type='text' placeholder='* Street Name' name="Street" )
            .Subdv.address
              input.shipping-fields.city__address(type='text' placeholder='* Village/Subdivision' required=''  name="Subdv"  )
            .city.address
              input.shipping-fields.city__address(type='text' placeholder='City/Municipality' required='true' name="City"  )
            .barangay.address
              input.shipping-fields.barangay__address(type='text' placeholder='Barangay' required='true' name="Barangay"  )
            .postal.address
              input.shipping-fields.postal__address(type='text' placeholder='Postal Code' required='true' name="postalCode" )
            button.edit-btn(type='submit') Apply Changes
      - }
footer.footer
  .footer-container
    .footer-fill
      .footer-brand
        ul.brand
          h3  Bonavita
          li
            | Unit 311, 4th Floor, Armal Plaza, C. Raymundo Ave, Brgy Maybunga 1600 Pasig, Philippines
      .footer-social-links
        ul.social-links
          li
            h3 Follow Us:
          li
            a(href='https://www.facebook.com/bonavitaphilippines2016') Facebook
          li
            a(href='https://www.lazada.com.ph/shop/bonavita-philippines/') Lazada
      .footer-contact-info
        ul.contact-info
          li
            a(href='aboutus.html') About Us
          li
            a(href='') Terms and Conditions
          li
            a(href='') Privacy Policy
          li
            a(href='faq.html') FAQ
  .company
    p &copy; 2021 Bonavita Philippines. All rights reserved.
