doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='css/client/index.css')
  link(rel='stylesheet' href='css/client/utlities.css')
  link(rel='stylesheet' href='css/client/success.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  link(href='https://fonts.googleapis.com/css2?family=Poppins:wght@200;500;700;800&display=swap' rel='stylesheet')
  script(src='JS/index.js' async='')
  script(src="JS/menu.js" async='')
header.header
  .container
    .navbar
      .logo
        a(href='/')
          img.img-logo(src=`img/${profile.logo}` width='200px')
      .socials
        ul
          li
            a(href=`${profile.lazadaUrl}`)
              img.social(src='img/lazada-logo.png' height='40px')
          li
            a(href=`${profile.facebookUrl}`)
              img.social(src='img/facebook-logo.png' height='40px')
      nav
        ul#lists
          li
            a(href='/#products') Products
          li
            a(href='/testimonials') Testimonials
          li 
            a(href="/faq") Faq
          li 
            a(href='/userProfile') My Profile
          li
            a(href='/logout') Logout
      img#menuIcon.menu(src='img/menu-bar.png' onclick='openmenu()')
section.main-container
  .header_container
    h1 Thank you for your purchase, #{finalTransaction.name}
  .invoice-container
    .summary-order-container
      h3  Order Summary
      br
      .pair
        .order-id.tag
          p  Order ID:
        .content
          p.order-id.content=  finalTransaction.id
      .pair
        .order-date.tag
          p  Order Date:
        .content
          p.order-date.content= finalTransaction.date
      .pair
        .payment.tag
          p  Payment Method:
        .content
          p.payment.content= finalTransaction.paymentMethod
      br
      .pair
        .name.tag
          p  Name:
        .content
          p.name.content= finalTransaction.name
      .pair
        .shipping.tag
          p  Shipping address:
        .content
          p.shipping.content #{finalTransaction.homeAddress}, #{finalTransaction.Street} Street,  #{finalTransaction.Subdv},#{finalTransaction.Barangay},#{finalTransaction.City},#{finalTransaction.province}
      .pair
        .contact.tag
          p  Mobile Number:
        .content
          p.contact.content= finalTransaction.phoneNumber
      .pair
        p.tag Notes
        p.content= finalTransaction.notes
      .pair
        .items.tag
          p  Items Ordered:
        .content
          p.items.content
          each transact in finalTransaction.products
              span  (#{transact.itemBought}) #{transact.productName}
              br
      br
      .pair
        p.tag.bold.total Sub Total:
        p.content.bold.total= finalTransaction.subTotal
      br
     
      .pair-Btn 
        a(href="/") Home
        a(href="/#products") Place Another Order?  
  .floating-cart
    a(href='cart.html' onclick='increaseNumber()')
      i.fa.fa-shopping-cart
    span.number 0
footer.footer
  .footer-container
    .footer-fill
      .footer-brand
         ul.brand
          h3=  profile.companyName
          if profile.CpNum
            p Cellphone Number: #{profile.CpNum} 
          br
          if profile.TelNum
            p telephone Number: #{profile.TelNum}
          br
          p= profile.Address
      .footer-social-links
        ul.social-links
          li
            h3 Follow Us:
          li
            if profile.facebookUrl
              a(href=`${profile.facebookUrl}`) Facebook
          li
            if profile.twiterUrl
              a(href=`${profile.twiterUrl}`) Twitter
          li
            if profile.instagramUrl
              a(href=`${profile.instagramUrl}`) Instagram
      .footer-contact-info
        ul.contact-info
          li
            a(href='aboutus.html') About Us
          li
            a(href='') Terms and Conditions
          li
            a(href='') Privacy Policy
          li
            a(href='faq.html') FAQ
  .company
    p &copy; 2021 #{profile.companyName}. All rights reserved.
